.pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  align-items: center;
  margin: 2rem 0;
  color: grey;
  text-align: center;
}

.pagination-nav {
  display: flex;
  align-items: center;
}

.pagination-item {
  margin: 0 3px; /* Reduced space between pagination items */
  text-decoration: none;
  padding: 5px 12px; /* Adjusted padding for a more compact look */
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

a.pagination-item:hover {
  background-color: #eee;
}

.pagination-item.disabled {
  color: #aaa;
  cursor: not-allowed;
}

.pagination-item.prev,
.pagination-item.next {
  font-size: 16px;
}

.pagination-info {
  font-size: 14px;
  font-weight: bold;
  color: #555; /* Slightly darker color for better contrast */
  margin: 0 8px; /* Added some space around the page number */
}

.pagination-info span {
  color: #444; /* Darker color for the page number */
}

.arrow {
  font-size: 14px;
  margin: 0 5px; /* Reduced space between the arrow and text */
}

@media (min-width: 30em) {
  .pagination-nav {
    width: auto;
    justify-content: center; /* Ensure the pagination is centered on wider screens */
  }
  .pagination-item {
    border-width: 1px;
  }
}
